<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit ToDo</title>
    <link rel="todolist icon" href="icons8-to-do-100.ico"/>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body style="text-align: center">
    <h1>Edit form</h1>
    <form>
    <h3>What do you need to do instead?</h3>
    <input type="text" />
    <br>
    <button>submit</button>
    </form>

</body>
</html>