<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDo List App</title>
    <link rel="todolist icon" href="icons8-to-do-100.ico"/>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body style="text-align: center">
    <h1><%= welcome_text %><h1>

    <% todos = Todo.query.each do |todo| %>
    
    <table style="width:100%">
        <tr>
            <td><%= "#{todo.todo}"%></td>
            <td id=<%="#{todo.id}"%> >Edit</td>
            <td id=<%="#{todo.id}"%> >Delete</td>
        </tr>
    <% end %>
        <tr>
            <td>Add a new item button</td>
        </tr>
    </table>

    

</body>
</html>