<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDo List App</title>
    <link rel="todolist icon" href="icons8-to-do-100.ico"/>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body style="text-align: center">
    <h1>To Do List<h1>

    <% todos.each do |todo| %>
    
    <table style="width:100%">
        <tr>
            <td>
                <%= "#{todo.todo}"%>
                <button id=<%="#{todo.id}"%> >Edit</button>
                <button id=<%="#{todo.id}"%> >Delete (Fake)</button>
                
                <button action="DELETE" method="destroy" path="/todos/<%="#{todo.id}"%>" >Delete</button>
            </td>
        </tr>
    <% end %>
        <tr>
            <td><button>Add a new item button</button></td>
        </tr>
    </table>

</body>
</html>