<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDo List App</title>
    <link rel="todolist icon" href="icons8-to-do-100.ico"/>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body style="text-align: center">
    <h1><%= welcome_text %><h1>

    <table style="width:100%">
        <tr>
            <th>Done?</th>
            <th>ToDo</th>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>Make ToDo List</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>Practice Colouring</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>Research Graduate Schools</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>Be spontaneous</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>Creating lasting childhood memories</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>Make a will</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td> </td>
            <td>Add a new item button</td>
            <td></td>
            <td></td>
        </tr>

    </table>

</body>
</html>
