<!DOCTYPE html>
<html lang="en">
<head>
    <title>ToDo List App</title>
    <link rel="todolist icon" href="icons8-to-do-100.ico"/>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body style="text-align: center">
    <h1><%= welcome_text %><h1>
</body>
</html>
